* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

#warPick {
  font-weight: bold;
  color: rgb(229, 229, 229);
  border: none;
}

#warButtonText,
#mageButtonText {
  font-weight: normal;
  border: none;
  line-height: 0;
  padding: 0px 10px;
}

#magePick {
  font-weight: bold;
  color: rgb(229, 229, 229);
  border: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(37, 25, 35);
}

#header {
  color: rgb(255, 0, 0);
  margin: 10px 0px;
  padding-left: 120px;
  padding-right: 120px;
  font-family: courier;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

#mainScreen {
  background-color: rgb(67, 67, 67);
  color: rgb(173, 173, 173);
  height: 300px;
  width: 100%;
  margin: 10px 0px;
  padding: 0px 25px;
  font-family: courier;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  display: flex;
}

#warriorChosed,
#mageChosed {
  height: 140px;
  width: 90px;
  text-align: left;
  border: 3px solid white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#warriorChosed {
  background-color: rgba(102, 0, 0, 0.21);
}
#mageChosed {
  background-color: rgb(0, 151, 174);
}

#str,
#int,
#agi,
#stam,
#spi,
#pointsCounter {
  display: inline;
  width: 200px;
  position: absolute;
  left: 70%;
}

#strBlock {
  color: red;
}

#intBlock {
  color: rgb(64, 0, 255);
}

#agiBlock {
  color: rgb(0, 255, 17);
}

#stamBlock {
  color: rgb(0, 251, 255);
}

#spiBlock {
  color: rgb(216, 216, 0);
}

#strUp,
#intUp,
#agiUp,
#stamUp,
#spiUp,
#pointsCounter {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  display: inline;
  position: absolute;
  right: 0px;
}

#strBlock,
#intBlock,
#agiBlock,
#stamBlock,
#spiBlock,
#pointsCounter {
  position: relative;
}

#pointsCounter {
  left: 0;
}

#pointLi {
  padding: 20px 0;
}

#chosing {
  color: antiquewhite;
  font-size: 30px;
  background: rgb(53, 34, 47);
  margin: 10px 0px;
  padding: 0 5%;
  display: flex;
}

#expiBar {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#expPerc {
  position: absolute;
  left: 35%;
}

#levelCounter,
#expText {
  display: inline;
}

#fill-bar-exp {
  width: 200px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
}

#fill-bar-exp-progress {
  height: 100%;
  background-color: rgb(100, 0, 85);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

#yourHp {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

#hpText,
#enHpText {
  display: inline;
}

#hpPerc,
#expPerc {
  text-align: center;
}

#fill-bar-hp {
  width: 250px;
  height: 5px;
  background-color: #eee;
  border-radius: 10px;
}

#fill-bar-hp-progress {
  height: 100%;
  background-color: rgb(0, 100, 7);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

#enemyHp {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

#en-hpPerc {
  text-align: center;
}

#fill-bar-en-hp {
  width: 250px;
  height: 5px;
  background-color: #eee;
  border-radius: 10px;
}

#fill-bar-en-hp-progress {
  height: 100%;
  background-color: rgb(0, 86, 6);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

#combatScreen {
  color: black;
  background-color: rgb(103, 103, 103);
  height: 300px;
  width: 700px;
  position: relative;
  left: 0;
  top: 0;
}

#stats {
  position: relative;
  left: 0%;
  top: 10%;
}

#percentStats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#crChance,
#crMult,
#dodgeCh {
  display: inline;
  position: absolute;
  right: 40%;
}

#crChDiv,
#dodChDiv,
#crMulDiv {
  position: relative;
  width: 450px;
}
